In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('EDA_Gold_Silver_prices.csv')

In [3]:
df.head()

    Month  SilverPrice  GoldPrice
0  Mar-97       186.48   12619.24
1  Apr-97       170.65   12338.59
2  May-97       170.44   12314.94
3  Jun-97       169.96   12202.78
4  Jul-97       155.80   11582.07

In [9]:
df_08 = df.loc[df.Month.str.contains('08')]
df_08

      Month  SilverPrice  GoldPrice
130  Jan-08       632.29   35025.78
131  Feb-08       701.87   36642.46
132  Mar-08       775.49   39082.77
133  Apr-08       700.96   36416.00
134  May-08       718.20   37435.38
135  Jun-08       729.63   38087.88
136  Jul-08       773.80   40256.56
137  Aug-08       625.97   36026.85
138  Sep-08       555.58   37815.02
139  Oct-08       507.20   39235.79
140  Nov-08       483.55   37284.82
141  Dec-08       501.82   39696.27

In [11]:
df['SilverPrice'].corr(df['GoldPrice'])

0.9542559570539775

In [10]:
df_08['SilverPrice'].corr(df_08['GoldPrice'])

0.009583757463369393